<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Socket name="kibana" host="showinpoc01.fbfs.com" port="5516">
            <SerializedLayout />
        </Socket>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="kibana"/>
        </Root>
    </Loggers>
</Configuration>